@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(240, 235, 248);
  padding-top: 100px;
}

.container {
  width: 770px;
  margin: auto;
  position: relative;
}
@media (max-width: 770px) {
  .container {
    width: 98%;
  }
}
.container .side {
  width: 49px;
  height: 253px;
  position: absolute;
  top: 0px;
  right: -70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(178, 176, 176);
  box-shadow: 0px 0px 3px rgb(178, 176, 176);
}
@media (max-width: 950px) {
  .container .side {
    display: none;
  }
}
.container .side div {
  width: 49px;
  font-size: 22px;
  color: rgb(108, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  position: relative;
}
.container .side div:hover {
  background-color: rgb(237, 244, 253);
}
.container .side div:hover div {
  display: block;
}
.container .side div:nth-of-type(1) {
  border-radius: 10px 10px 0 0;
}
.container .side div:nth-of-type(6) {
  border-radius: 0 0 10px 10px;
}
.container .side div i {
  display: block;
  width: 22px;
}
.container .side div div {
  display: none;
  width: auto;
  height: 20px;
  white-space: nowrap;
  padding: 3px;
  background-color: rgb(104, 108, 113);
  color: white;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: -70px;
  border-radius: 5px !important;
}
.container .side div div:hover {
  background-color: rgb(104, 108, 113);
}
.container .side .side-2 i {
  transform: translateX(-3px);
}
.container .side .side-4 i {
  transform: translateX(-2px);
}
.container .side .side-5 i {
  transform: translateX(-1px);
}
.container .side .side-3 div {
  padding: 3px;
  position: absolute;
  right: -106.4px;
}
.container .form-title {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border-top: 10px solid rgb(103, 58, 183);
  border-left: 10px solid rgb(66, 133, 244);
  padding: 22px 0 24px;
}
.container .form-title .form-title-input {
  border: none;
  border-bottom: 1px solid rgb(178, 176, 176);
  width: 95%;
  height: 45px;
  font-size: 32px;
  font-weight: 600;
  margin: 8px 25px 8px;
}
.container .form-title .form-title-input:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .form-title .form-title-input:focus + .input-list {
  display: block;
}
.container .form-title .input-list {
  display: none;
  width: 720px;
  height: 30px;
  margin: 8px 25px 8px;
}
.container .form-title .input-list i {
  margin: 10px;
  color: rgb(108, 105, 105);
}
.container .form-title .input-list i:hover {
  color: black;
}
.container .form-title .form-explain-input-2 {
  border: none;
  width: 95%;
  height: 21px;
  font-size: 18px;
  font-weight: 600;
  margin: 8px 25px 8px;
  color: rgb(108, 105, 105);
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .form-title .form-explain-input-2:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .form-title .form-explain-input-2:focus ~ .input-list {
  display: block;
}
.container .question {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid rgb(66, 133, 244);
  padding: 24px;
  margin: 12px 0;
}
.container .question .question-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 435px) {
  .container .question .question-1 {
    justify-content: initial;
  }
}
.container .question .question-1 .text-box {
  width: 447px;
  margin-top: 10px;
}
@media (max-width: 770px) {
  .container .question .question-1 .text-box {
    width: 90%;
  }
}
@media (max-width: 435px) {
  .container .question .question-1 .text-box {
    width: 100%;
  }
}
.container .question .question-1 .text-box .form-title-input {
  border: none;
  border-bottom: 1px solid rgb(178, 176, 176);
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 600;
}
.container .question .question-1 .text-box .form-title-input:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  background-color: rgb(248, 249, 250);
  border-radius: 10px 10px 0 0;
  outline: none;
}
.container .question .question-1 .text-box .form-title-input:focus ~ .input-list {
  display: block;
}
.container .question .question-1 .text-box .input-list {
  display: none;
  width: 100%;
  height: 30px;
  margin: auto;
}
.container .question .question-1 .text-box .input-list i {
  color: rgb(108, 105, 105);
  margin: 10px;
}
.container .question .question-1 .text-box .input-list i:hover {
  color: black;
}
.container .question .question-1 .fa-images {
  font-size: 20px;
  color: rgb(178, 176, 176);
}
.container .question .question-1 .check {
  position: relative;
  margin-top: 10px;
}
@media (max-width: 435px) {
  .container .question .question-1 .check {
    margin-left: 10px;
  }
}
.container .question .question-1 .check .check-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 209px;
  height: 49px;
  border-radius: 10px;
  color: rgb(108, 105, 105);
  border: 1px solid rgb(178, 176, 176);
  font-weight: 600;
}
.container .question .question-1 .check .check-box i {
  font-size: 24px;
}
.container .question .question-1 .check .check-box span {
  font-size: 16px;
}
.container .question .question-1 .check .check-box .fa-rotate-180 {
  padding-bottom: 5px;
  font-size: 1px;
}
.container .question .question-1 .check .answer-style {
  width: 209px;
  max-height: 580px;
  overflow-y: scroll;
  background-color: white;
  position: absolute;
  top: -200px;
  display: none;
}
.container .question .question-1 .check .answer-style ul {
  width: 100%;
  border-bottom: 1px solid rgb(178, 176, 176);
  padding: 8px 3px;
  margin: 0px;
}
.container .question .question-1 .check .answer-style ul li {
  width: 100%;
  display: flex;
  height: 48px;
  padding: 8px;
  font-weight: 400;
  color: rgb(108, 105, 105);
}
.container .question .question-1 .check .answer-style ul li:hover {
  background-color: rgb(237, 244, 253);
}
.container .question .question-1 .check .answer-style ul li i {
  font-size: 20px;
  color: rgb(108, 105, 105);
  margin-right: 26px;
}
.container .question .question-1 .check .answer-style ul li .fa-cloud-arrow-up, .container .question .question-1 .check .answer-style ul li img {
  margin-right: 22px;
}
.container .question .questype-1 {
  padding: 20px 0 35px;
  display: none;
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-1 .short {
  width: 60%;
  font-size: 16px;
  font-weight: 600;
  color: rgb(178, 176, 176);
  border-bottom: 1px dotted rgb(178, 176, 176);
}
.container .question .questype-2 {
  padding: 20px 0 35px;
  display: none;
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-2 .long {
  width: 85%;
  font-size: 16px;
  font-weight: 600;
  color: rgb(178, 176, 176);
  border-bottom: 1px dotted rgb(178, 176, 176);
}
.container .question .questype-3 {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-3 .choose {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .question .questype-3 .choose #checkbox, .container .question .questype-3 .choose #checkbox2 {
  display: none;
}
.container .question .questype-3 .choose .checkbox {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgb(178, 176, 176);
  margin-right: 5px;
}
.container .question .questype-3 .choose .choose_line {
  width: 80%;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}
.container .question .questype-3 .choose .choose_line:hover {
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-3 .choose .choose_line:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .question .questype-3 .choose .choose_line2 {
  width: 70px;
  color: rgb(108, 105, 105);
}
.container .question .questype-3 .choose a {
  color: rgb(39, 123, 233);
  text-decoration: none;
}
.container .question .questype-4 {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid rgb(178, 176, 176);
  display: none;
}
.container .question .questype-4 .choose {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .question .questype-4 .choose #checkbox, .container .question .questype-4 .choose #checkbox2 {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  pointer-events: none;
}
.container .question .questype-4 .choose .choose_line {
  width: 80%;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}
.container .question .questype-4 .choose .choose_line:hover {
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-4 .choose .choose_line:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .question .questype-4 .choose .choose_line2 {
  width: 70px;
  color: rgb(108, 105, 105);
}
.container .question .questype-4 .choose a {
  color: rgb(39, 123, 233);
  text-decoration: none;
}
.container .question .questype-5 {
  display: none;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid rgb(178, 176, 176);
  display: none;
}
.container .question .questype-5 .choose {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .question .questype-5 .choose span {
  padding-top: 12px;
}
.container .question .questype-5 .choose .choose_line {
  width: 80%;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}
.container .question .questype-5 .choose .choose_line:hover {
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-5 .choose .choose_line:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .question .questype-5 .choose .choose_line2 {
  width: 70px;
  color: rgb(108, 105, 105);
}
.container .question .questype-6 {
  width: 100%;
  display: none;
  padding: 10px 0 10px;
}
.container .question .questype-6 div {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.container .question .questype-6 div a {
  color: rgb(39, 123, 233);
  text-decoration: none;
}
.container .question .questype-7 {
  width: 100%;
  border-bottom: 1px solid rgb(178, 176, 176);
  padding-bottom: 30px;
  display: none;
}
.container .question .questype-7 .set-number {
  display: flex;
  align-items: center;
}
.container .question .questype-7 .set-number ul {
  width: 70px;
  padding: 10px 0px;
  margin: 0px;
  border-radius: 10px;
  position: relative;
}
.container .question .questype-7 .set-number ul li {
  width: 70px;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: none;
  color: rgb(108, 105, 105);
  padding: 0 5px 0 10px;
}
.container .question .questype-7 .set-number ul li i {
  font-size: 5px;
  margin-left: 26px;
}
.container .question .questype-7 .set-number ul li:hover {
  background-color: rgb(237, 244, 253);
}
.container .question .questype-7 .set-number ul .choose0-1, .container .question .questype-7 .set-number ul .choose2-10 {
  width: 70px;
  background-color: white;
  display: none;
  padding: 5px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(178, 176, 176);
  box-shadow: 0px 0px 3px rgb(178, 176, 176);
  position: absolute;
  bottom: 0;
}
.container .question .questype-7 .set-number ul .show-number {
  display: block;
}
.container .question .questype-7 .num-mean {
  color: rgb(178, 176, 176);
  font-size: 16px;
  font-weight: 600;
}
.container .question .questype-7 .num-mean-input {
  border: none;
  border-bottom: 1px solid rgb(178, 176, 176);
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 25px 8px;
  color: rgb(178, 176, 176);
}
.container .question .questype-7 .num-mean-input:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .question .questype-8 {
  width: 100%;
  display: none;
}
.container .question .questype-8 .left_right {
  width: 100%;
  display: none;
}
.container .question .questype-8 .left_right .right, .container .question .questype-8 .left_right .left {
  width: 50%;
  padding: 30px 0;
  border-bottom: 1px solid rgb(178, 176, 176);
  display: none;
}
.container .question .questype-8 .left_right .right .choose, .container .question .questype-8 .left_right .left .choose {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .question .questype-8 .left_right .right .choose span, .container .question .questype-8 .left_right .left .choose span {
  padding-top: 12px;
}
.container .question .questype-8 .left_right .right .choose .choose_line, .container .question .questype-8 .left_right .left .choose .choose_line {
  width: 80%;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}
.container .question .questype-8 .left_right .right .choose .choose_line:hover, .container .question .questype-8 .left_right .left .choose .choose_line:hover {
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-8 .left_right .right .choose .choose_line:focus, .container .question .questype-8 .left_right .left .choose .choose_line:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .question .questype-8 .left_right .right .choose .choose_line2, .container .question .questype-8 .left_right .left .choose .choose_line2 {
  width: 70px;
  color: rgb(108, 105, 105);
}
.container .question .questype-8 .left_right .right #checkbox, .container .question .questype-8 .left_right .right #checkbox2 {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  pointer-events: none;
}
.container .question .questype-9 {
  width: 100%;
  display: none;
}
.container .question .questype-9 .left_right {
  width: 100%;
  display: none;
}
.container .question .questype-9 .left_right .right, .container .question .questype-9 .left_right .left {
  width: 50%;
  padding: 30px 0;
  border-bottom: 1px solid rgb(178, 176, 176);
  display: none;
}
.container .question .questype-9 .left_right .right .choose, .container .question .questype-9 .left_right .left .choose {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .question .questype-9 .left_right .right .choose span, .container .question .questype-9 .left_right .left .choose span {
  padding-top: 12px;
}
.container .question .questype-9 .left_right .right .choose .choose_line, .container .question .questype-9 .left_right .left .choose .choose_line {
  width: 80%;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}
.container .question .questype-9 .left_right .right .choose .choose_line:hover, .container .question .questype-9 .left_right .left .choose .choose_line:hover {
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-9 .left_right .right .choose .choose_line:focus, .container .question .questype-9 .left_right .left .choose .choose_line:focus {
  border: 0px solid white;
  border-bottom: 3px solid rgb(103, 58, 183);
  outline: none;
}
.container .question .questype-9 .left_right .right .choose .choose_line2, .container .question .questype-9 .left_right .left .choose .choose_line2 {
  width: 70px;
  color: rgb(108, 105, 105);
}
.container .question .questype-9 .left_right .right #checkbox, .container .question .questype-9 .left_right .right #checkbox2 {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  pointer-events: none;
}
.container .question .questype-10 {
  padding: 20px 0 35px;
  display: none;
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-10 .calender {
  display: flex;
  justify-content: space-between;
  width: 35%;
  font-size: 16px;
  font-weight: 600;
  color: rgb(178, 176, 176);
  border-bottom: 1px dotted rgb(178, 176, 176);
}
.container .question .questype-11 {
  padding: 20px 0 35px;
  display: none;
  border-bottom: 1px solid rgb(178, 176, 176);
}
.container .question .questype-11 .clock {
  display: flex;
  justify-content: space-between;
  width: 35%;
  font-size: 16px;
  font-weight: 600;
  color: rgb(178, 176, 176);
  border-bottom: 1px dotted rgb(178, 176, 176);
}
.container .question .question-3 {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 600px;
  color: rgb(108, 105, 105);
  padding: 24px 10px 0 0;
}
.container .question .question-3 .two {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid rgb(178, 176, 176);
}
@media (max-width: 480px) {
  .container .question .question-3 .two {
    display: none;
  }
}
.container .question .question-3 .two-after {
  width: 130px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .question .question-3 .two-after .btn-box {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: #ccc;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.13) inset;
}
.container .question .question-3 .two-after .btn-box .btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 0; /*動畫從ml為0開始*/
  transition: 0.5s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.container .question .question-3 .two-after .checkbox {
  position: absolute;
  opacity: 0;
}
.container .question .question-3 .two-after .checkbox:checked + .btn-box {
  background-color: #8f8;
}
.container .question .question-3 .two-after .checkbox:checked + .btn-box .btn {
  margin-left: 20px;
}/*# sourceMappingURL=question.css.map */