$grey:rgb(178, 176, 176);
$font-grey:rgb(108, 105, 105);
$blue:rgb(237,244,253);
$md-blue:rgb(39,123,233);




*{
    box-sizing:border-box;
}
body{  
    margin: 0;
    background-color:rgb(240,235,248);
    padding-top:200px;
}
.container{
    width:770px;
    margin: auto;
   
    .form-title{
        width:100%;
        // height:136px;
        background-color: white;
        border-radius: 10px;
        border-top:10px solid rgb(103,58,183);
        border-left:10px solid rgb(66,133,244);
        padding: 22px 0 24px;

         .form-title-input{
                border:none;
                border-bottom:1px solid $grey ;
                width:720px;
                height:45px;
                font-size:32px;
                font-weight: 600;
                margin:8px 25px 8px;
                &:focus{
                    border:0px solid white;
                    border-bottom:3px solid  rgb(103,58,183);
                    outline: none;
                }
                &:focus +  .input-list{
                    display: block;
                }
            }
        .input-list{
            display:none;
            width:720px;
            height:30px;
            margin:8px 25px 8px;
            i{
                margin:10px;
                color:$font-grey;
                &:hover{color:black;};
            }
        }
        .form-explain-input-2{
            border:none;
            width:720px;
            height:21px;
            font-size:18px;
            font-weight: 600;
            margin:8px 25px 8px;
            color:$font-grey;
            border-bottom:1px solid $grey ;
            &:focus{
                border:0px solid white;
                border-bottom:3px solid  rgb(103,58,183);
                outline: none; 
            }
            &:focus ~  .input-list{
                display: block;
            }
        }
    }
    
    .question{
        width:100%;
        background-color: white;
        border-radius: 10px;

        border-left:10px solid rgb(66,133,244);
        padding:24px;
        margin:12px 0;
        .question-1{
            display:flex;
            justify-content: space-between;
            .text-box{
                 .form-title-input{
                border:none;
                border-bottom:1px solid $grey ;
                width:447px;
                height:56px;
                font-size:16px;
                font-weight: 600;
                    &:focus{
                        border:0px solid white;
                        border-bottom:3px solid  rgb(103,58,183);
                        background-color: rgb(248,249,250);
                        border-radius: 10px 10px 0 0;
                        outline: none;
                    }
                    &:focus ~.input-list {
                        display: block;
                    }
                }
                .input-list{
                    display:none;
                    width:447px;
                    height:30px;
                    margin:auto;
                    i{  color:$font-grey;
                        margin:10px;
                        &:hover{color:black;}
                    }
                }
            }
           
            .fa-images{
                font-size: 26px;
            }
            .check{
                position: relative;
                .check-box{
                    display:flex;
                    justify-content: space-around;
                    align-items: center;
                    width:209px;
                    height:49px;
                    border-radius: 10px;
                    // background-color: aqua;
                    color:$font-grey;
                    border:1px solid $grey;
                    font-weight: 600;
                    i{
                        font-size: 24px;
                    }
                    span{
                        font-size: 16px;
                    }
                    .fa-rotate-180{
                        padding-bottom: 5px;
                        font-size: 1px;
                    }
                }
                .answer-style{
                    width:209px;
                    max-height:394px;
                    overflow-y: scroll;
                    background-color:white;
                    position: absolute;
                    display:none;
                    ul{
                        width:100%;
                        border-bottom: 1px solid $grey;
                        padding: 5px 3px;
                        margin: 0px;
                        li{
                            width:100%;
                            display: flex;
                            height: 47px;
                            padding:8px;
                            font-weight: 600;
                            &:hover{
                                    background-color:$blue ;
                                }
                            
                            i{
                                font-size: 24px;
                                color: $font-grey;
                                
                            }
                            img{
                                width:29px;
                                height:30px;
                            }
                            .line-box, i{
                                margin-right: 26px;
                            }
                            .fa-cloud-arrow-up, img{
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }
        }
        .questype-1{
            padding: 20px 0 35px ;
            display:none;
            border-bottom: 1px solid $grey;
            .short{
            width:60%;
            font-size: 16px;
            font-weight:600;
            color:$grey;
            border-bottom:1px dotted $grey;
            }
        }   
        .questype-2{
            padding: 20px 0 35px;
            display:none;
            border-bottom: 1px solid $grey;
            .long{
            width:85%;
            font-size: 16px;
            font-weight:600;
            color:$grey;
            border-bottom:1px dotted $grey;
            }
        }   
        .questype-3{
            width:100%;
            padding: 30px 0;
            border-bottom: 1px solid $grey;
            .choose{
                width:100%;
                display: flex;
                align-items: center;
                #checkbox, #checkbox2{
                    display: none;
                }
                .checkbox{
                    width:24px;
                    height:24px;
                    display: inline-block;
                    border-radius: 50%;
                    border:2px solid $grey;
                    margin-right: 5px;
                
                }
                .choose_line{
                    width:80%;
                    border:none;
                    height:40px;
                    font-size:16px;
                    font-weight: 500;
                    &:hover{
                        border-bottom:1px solid $grey ;
                    }
                    &:focus{
                        border:0px solid white;
                        border-bottom:3px solid  rgb(103,58,183);
                        outline: none;
                    }
                    
                }
                .choose_line2{
                        width:70px; 
                        color:$font-grey;
                    
                }
                a{
                    color:$md-blue;
                    text-decoration: none;
                }
            }
        }
        .questype-7{
           width:100%;
           border-bottom: 1px solid $grey;
           padding-bottom: 30px;
           display:none;
            .set-number{
                display: flex;
                align-items: center;
                 ul{  
                    width:70px;
                    // background-color: aquamarine;
                    padding:10px 0px;
                    margin: 0px;
                    border-radius: 10px; 
                    position: relative;
                        li{
                            width:70px;
                            display: block;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            display: none;
                            color:$font-grey;
                            padding: 0 5px 0 10px; 
                            i{
                                font-size: 5px;
                                margin-left: 26px;
                                }
                            &:hover{
                                background-color: $blue;
                                    
                                }
                        }
                        .choose0-1, .choose2-10{
                            width:70px;
                            background-color:white;
                            display:none;
                            padding:5px 0;
                            border-radius:10px;
                            // background-color:blue;
                            box-shadow:3px 3px 3px $grey; 
                            box-shadow:0px 0px 3px $grey;
                            position:absolute; 
                            bottom:0;
                        }
                        .show-number{
                            display: block;
                            }
                    }
                
                }
           .num-mean{
                color:$grey;
                font-size: 16px;
                font-weight: 600;
            }
            .num-mean-input{
                border:none;
                border-bottom:1px solid $grey ;
                width:200px;
                height:40px;
                font-size:16px;
                font-weight: 600;
                margin:8px 25px 8px;
                color:$grey;
                &:focus{
                    border:0px solid white;
                    border-bottom:3px solid  rgb(103,58,183);
                    outline: none;
                }
            }
        }
        .question-3{
            width:100%;
            display: flex;
            justify-content: end;
            font-size: 18px;
            font-weight:600px;
            color:$font-grey;
            padding: 24px 10px 0 0;
            .two{
                width:100px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                // background-color: #8f8;
                border-right: 1px solid $grey;
            }
            .two-after{
                width:130px;
                margin-left: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btn-box {
                    display:inline-block;
                    vertical-align:middle;
                    width: 40px;
                    height: 20px;
                    border-radius:100px;
                    background-color: #ccc;
                    box-shadow: 0px 3px 0px rgba(0,0,0,.13) inset;
                }
                .btn-box .btn {
                    display:inline-block;
                    width: 20px;
                    height: 20px;
                    border-radius:50%;
                    background-color: #fff;
                    margin-left: 0;/*動畫從ml為0開始*/
                    transition: .5s;
                    box-shadow:1px 2px 5px rgba(0,0,0,.3);
                }
                .checkbox {
                    position:absolute;
                    opacity:0;
                }
                .checkbox:checked + .btn-box {
                    background-color: #8f8;
                }
                .checkbox:checked + .btn-box .btn {
                    margin-left: 20px;
                }
            
            }
                
                
        }
    }
}