* {
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-color: rgb(226, 226, 226);
    overflow: hidden;
}

button {
    border: 0;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(237, 237, 237);
    border-radius: 50%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48,
}

nav {
    position: relative;

    .container {
        display: flex;
        width: 100%;
        height: 107px;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;

        .top {
            height: 60%;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: space-between;
            padding: 10px 10px;

            .topL {
                display: flex;
                justify-content: start;
                align-items: center;

                button {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                    padding-bottom: 4px;
                }

                .logo {
                    margin: 0 10px;
                }

                .title {
                    font-size: 18px;
                    font-weight: 500;
                    color: #202124;
                }

                .star {
                    background-image: url(/img/star_FILL0.svg);
                    background-size: cover;
                    background-position: center;
                    width: 25px;
                    height: 25px;
                }

                .darkStar {
                    background-image: url(/img/star_FILL1.svg);
                    background-size: cover;
                    background-position: center;
                    width: 25px;
                    height: 25px;
                }
            }

            .topR {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                }

                .paletteB {
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;    
                    margin-right: 5px;
                }

                .eye {
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                }

                .undo {
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                }

                .redo {
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                }

                .paletteB:hover {
                    background-color: rgb(237, 237, 237);
                    border-radius: 50%;
                }

                #ham-menu-switch-3:checked~.topic {
                    display: block;
                }

                .sent {
                    width: 76.5px;
                    height: 36px;
                    border-radius: 5px;
                    color: white;
                    background-color: #673AB7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                #menu {
                    width: 256px;
                    height: 444px;
                    background-color: white;
                    border: solid 1px gainsboro;
                    border-radius: 2px;
                    margin-top: 5px;
                    display: none;
                    overflow-y: scroll;
                    box-shadow: 0 0 1px 1px gray;
                    position: absolute;
                    top: 50px;
                    right: 50px;
                }

                .option-group {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: 100%;
                    border-bottom: 1px solid black;
                }

                .option {
                    width: 230px;
                    margin: 12.5px 0;
                    padding-left: 10px;
                    line-height: 30px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: rgb(80, 80, 80);
                    font-weight: bold;
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 10px;
                    }
                }

                #ham-menu-switch:checked~#menu {
                    display: block;
                }

                .downMenu {
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;
                }

                .downMenu:hover {
                    background-color: rgb(237, 237, 237);
                    border-radius: 50%;
                }

                .account {
                    width: 30px;
                    height: 30px;
                    background-color: #673AB7;
                    border-radius: 50%;
                }

                #account-menu {
                    width: 400px;
                    height: 400px;
                    background-color: aliceblue;
                    border: solid 1px gainsboro;
                    padding: 5px 5px 5px 5px;
                    border-radius: 30px;
                    margin-top: 5px;
                    display: none;
                    box-shadow: 0 0 1px 1px gray;
                    position: absolute;
                    top: 80px;
                    right: 30px;

                    .flex {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        .photo {
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background-color: #673AB7;
                        }

                        .hello {
                            width: 80%;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .manage {
                            width: 50%;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid black;
                            border-radius: 30px;
                            color: #0756ff;
                            align-items: center;
                            font-size: 14px;
                        }

                        .advice {
                            width: 80%;
                            height: 50px;
                            border: 1px solid;
                            border-radius: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(233, 233, 233);
                        }

                        .acc {
                            width: 80%;
                            height: 50px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .add {
                                width: 49.5%;
                                height: 50px;
                                border: 1px solid;
                                border-bottom-left-radius: 30px;
                                border-top-left-radius: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: rgb(233, 233, 233);
                            }

                            .log-out {
                                width: 49.5%;
                                height: 50px;
                                border: 1px solid;
                                border-bottom-right-radius: 30px;
                                border-top-right-radius: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: rgb(233, 233, 233);
                            }
                        }

                        .footer {
                            width: 50%;
                            height: auto;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            .dot {
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: black;
                                margin-left: 10px;
                                margin-right: 3px;
                            }
                        }
                    }
                }

                #ham-menu-switch-2:checked~#account-menu {
                    display: block;
                }
            }


        }

        .down {
            height: 40%;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: end;

            .btn {
                padding: 10px 10px;
                font-size: 16px;
                border-radius: 0px;
            }

            .btn:hover {
                background-color: white;
            }

            .btn:active {
                background-color: #a287d156;
            }
        }
    }
}