* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: gray;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    .box {
        width: 50%;
        height: 50%;
        background-color: white;
        margin-bottom: 5%;
        padding: 10px;

        .set {
            padding-bottom: 20px;
            margin: 0;
            border-bottom: 1px solid #000;
        }

        .box-set {
            width: 100%;
            height: 100%;
            padding: 30px;


            .setting-box {
                border-bottom: 1px solid #000;
                margin-bottom: 10px;
                padding-bottom: 20px;


                h4 {
                    margin: 0px;
                }

                .textA {
                    margin-bottom: 2%;
                }

                h3 {
                    margin: 0px;

                }

                .font-box {

                    .x-1 {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                    }
                }

                .textbox {
                    width: 95%;
                    height: 95%;
                    padding: 5%;

                }
            }

            #reply {

                .font-box {


                    .replaybox {
                        width: 100%;
                        height: 100%;
                        padding: 2%;

                        h3 {
                            margin: 0px;
                        }


                        .rpbox {
                            margin: 18px;


                            .x-1 {
                                width: 100%;
                                height: 100%;

                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .x-2 {

                                    select {
                                        padding: 10px;

                                        font-weight: 600;
                                    }
                                }
                            }

                        }

                    }

                }

                a {
                    text-decoration: none;
                }
            }


        }


    }
}